
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>show blogs</title>
</head>
<body>
<h1 class="text-center">Category List</h1>
<p>
    <a th:href="@{/}" class="btn btn-secondary">
        Add new type
    </a>
</p>

<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<table id="furamas">
    <thead>
    <tr>
        <th>Customer type</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${customerType}">
        <td th:text="${row.name}"></td>
    </tr>
    </tbody>
</table>

<!--<div>-->
<!--    <a th:href="@{'/blogs'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}"><i class="fa-sharp fa-solid fa-backward"></i></a>-->
<!--    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>-->
<!--    <a th:href="@{'/blogs'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}"><i class="fa-solid fa-forward"></i></a>-->
<!--</div>-->
<footer th:replace="/layout :: footer"></footer>


</body>
</html>