<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<div th:replace="/layout::nav"></div>
<h2 class="text-center">Customer List</h2>

<p>
    <a th:href="@{/customer/create}" class="btn btn-secondary">
        Add new customer
    </a>
</p>
<div class="notify">
  <div th:if="${message}">
    <span th:text="${message}"></span>
  </div>
</div>

<form >
    <input type="search" name="search" placeholder="search name...">
    <button type="submit" class="btn btn-dark">Search</button>
</form>

<!--<form>-->
<!--    <input placeholder="Search by Title..." name="search" type="text"/>-->
<!--    <input type="submit" value="Search"/>-->
<!--</form>-->

<table id = "furamas">
    <thead>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Customer Type</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>ID card</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${customer}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.customerType.name}"></td>
        <td th:text="${row.dateOfBirth}"></td>
        <td th:text="${row.gender}"></td>
        <td th:text="${row.idCard}"></td>
        <td th:text="${row.phone}"></td>
        <td th:text="${row.email}"></td>
        <td th:text="${row.address}"></td>

        <td><a th:href="@{/{id}/customer/edit(id=${row.id})}" class="btn btn-warning">edit</a></td>
        <td>
            <button th:attr="onclick=|customerDelete('${row.id}', '${row.name}')|"
                    class="btn btn-sm" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
            <span class="btn btn-info">Delete</span>
            </button>
        </td>

        <td><a th:href="@{/{id}/customer/view(id=${row.id})}" class="btn btn-success">view</a></td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/customer/delete" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">You Want To Delete?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" hidden name="idDelete" id="idDelete">
                    <input type="text" hidden name="action" value="delete">
                    <strong>Customer: </strong>
                    <span id="nameDelete"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function customerDelete(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;

    }
</script>

<div>
    <a th:href="@{'/customer'(page=${customer.number - 1},search=${search})}" th:if="${customer.hasPrevious()}">Previous</a>
    <span th:text="${customer.number + 1}"></span>/<span th:text="${customer.totalPages}"></span>
    <a th:href="@{'/customer'(page=${customer.number + 1},search=${search})}" th:if="${customer.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>