<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit blog</h3>
<p>
  <a th:href="@{/blog}">
    Back to blog list
  </a>
</p>
<div id="form">
  <form action="#" th:action="@{/update}" th:object="${blog}"
        method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div>
      <label>Tittle</label>
      <input type="text" th:field="*{tittle}"/>
    </div>
    <div>
      <label>Date Writing</label>
      <input type="date" th:field="*{dateWriting}"/>
    </div>
    <div>
      <label>Body</label>
      <input type="text" th:field="*{body}"/>
    </div>
    <div>
      <label>Category</label>
      <select th:field ="*{category}" >
        <option th:each="item: ${categoryList}" th:text="${item.name}" th:value="${item.id}"></option>
      </select>
    </div>

    <div>
      <label>Author</label>
      <input type="text" th:field="*{author}"/>
    </div>

    <input type="submit" value="Edit"/>
  </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>