<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<div th:replace="/layout::nav"></div>
<div class="container-fluid">
    <h2>EMPLOYEE LIST</h2>
    <div class="mx-lg-2 mt-2">

        <div class="row mt-2">
            <div class="col-2">
                <button class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#addEmployeeModal">
                    <span>Add new employee</span>
                </button>
            </div>

            <div class="col-3 notify">
                <div th:if="${message}">
                    <span th:text="${message}" class="btn btn-outline-success"></span>
                </div>
            </div>
            <div class="col-7">
                <form style="float: right">
                    <div class="row">
                        <div class="col-8">
                            <input type="search" name="search" placeholder="search name..." class="btn-outline-danger">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-light btn-outline-danger ms-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-search-heart-fill" viewBox="0 0 16 16">
                                    <path d="M6.5 13a6.474 6.474 0 0 0 3.845-1.258h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.008 1.008 0 0 0-.115-.1A6.471 6.471 0 0 0 13 6.5 6.502 6.502 0 0 0 6.5 0a6.5 6.5 0 1 0 0 13Zm0-8.518c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-2">
            <table id="furamas">
                <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Date of birth</th>
                    <th>ID card</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Position</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row,rowStat : ${employee}">
                    <td th:text="${employee.number * 3 +rowStat.count}"></td>
                    <td th:text="${row.nameEmployee}"></td>
                    <td th:text="${row.dateOfBirth}"></td>
                    <td th:text="${row.idCard}"></td>
                    <td th:text="${row.phoneNumber}"></td>
                    <td th:text="${row.email}"></td>
                    <td th:text="${row.address}"></td>
                    <td th:text="${row.position.name}"></td>
<!--                    <td>-->
<!--                        <a th:href="@{/employee/{id}/edit(id=${row.id})}" class="btn btn-warning ">-->
<!--                            edit</a>-->
<!--                    </td>-->

                    <td>
                        <button th:attr="onclick=|customerEdit('${row.id}','${row.nameEmployee}','${row.dateOfBirth}','${row.salary}','${row.idCard}','${row.phoneNumber}','${row.email}','${row.address}','${row.position}','${row.educationDegree}','${row.division}')|"
                                class="btn btn-sm" data-bs-toggle="modal"
                                data-bs-target="#editEmployeeModal">
                              <span class="btn btn-warning">
                         <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                              class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                        </svg>
                    </span>

                        </button>
                    </td>

                    <td>
                        <button th:attr="onclick=|customerDelete('${row.id}', '${row.nameEmployee}')|"
                                class="btn btn-sm" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                    <span class="btn btn-info">
                         <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                              class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                    </span>
                        </button>
                    </td>
                </tr> ,
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form action="/employee/delete" method="get">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">You Want To Delete?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="text" hidden name="idDelete" id="idDelete">
                            <input type="text" hidden name="action" value="delete">
                            <strong>Employee: </strong>
                            <span id="nameDelete"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form  th:action="@{/employee/create}" method="post" th:object="${employeeDto}" class=" mx-3 px-3  pt-3  border border-2 border-success p-3 bg-info rounded ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="addModalLabel">Add new employee</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label>Name</label>
                                <input type="text" th:field="*{nameEmployee}"/>

                            </div>
                            <div>
                                <label>Date Of Birth</label>
                                <input type="date" id="date" th:field="*{dateOfBirth}"/>
                            </div>
                            <div>
                                <label>ID card</label>
                                <input type="text" id="idCard" th:field="*{idCard}"/>

                            </div>
                            <div>
                                <label>Salary</label>
                                <input type="text" id="salary" th:field="*{salary}"/>

                            </div>
                            <div>
                                <label>Phone</label>
                                <input type="text" id="phone" th:field="*{phoneNumber}"/>

                            </div>
                            <div>
                                <label>Email</label>
                                <input type="text" id="email" th:field="*{email}"/>

                            </div>
                            <div>
                                <label>Address</label>
                                <input type="text" id="address" th:field="*{address}"/>
                            </div>
                            <div>
                                <label>Position</label>
                                <select id="position" class="form-select" th:field="*{position}">
                                    <option th:each="item: ${position}" th:text="${item.name}"
                                            th:value="${item.id}"></option>
                                </select>
                            </div>
                            <div>
                                <label>Education degree</label>
                                <select id="degree" class="form-select" th:field="*{educationDegree}">
                                    <option th:each="item: ${degree}" th:text="${item.name}"
                                            th:value="${item.id}"></option>
                                </select>
                            </div>

                            <div>
                                <label>Division</label>
                                <select id="divison" class="form-select" th:field="*{division}">
                                    <option th:each="item: ${division}" th:text="${item.name}"
                                            th:value="${item.id}"></option>
                                </select>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

<!--edit-->
        <div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <form th:action="@{/employee/update}" method="post" th:object="${employeeDto}" class=" mx-3 px-3  pt-3  border border-2 border-success p-3 bg-info rounded ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title" id="editModalLabel">Edit new employee</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div>
                                <input type="text" hidden  id="idUd" th:field="*{id}">
                            </div>

                            <div>
                                <label>Name</label>
                                <input type="text" id="nameUd" th:field="*{nameEmployee}"/>
<!--                                <p style="color: red" th:errors="*{nameEmployee}"-->
<!--                                   th:if="${#fields.hasErrors('nameEmployee')}"></p>-->
                            </div>

                            <div>
                                <label>Date Of Birth</label>
                                <input type="date" id="dateUd" th:field="*{dateOfBirth}"/>
                            </div>

                            <div>
                                <label>ID Card</label>
                                <input type="text" id="idCardUd" th:field="*{idCard}"/>
<!--                                <p style="color: red" th:errors="*{idCard}"-->
<!--                                   th:if="${#fields.hasErrors('idCard')}"></p>-->
                            </div>

                            <div>
                                <label>Salary</label>
                                <input type="text" id="salaryUd" th:field="*{salary}"/>
<!--                                <p style="color: red" th:errors="*{salary}"-->
<!--                                   th:if="${#fields.hasErrors('salary')}"></p>-->
                            </div>
                            <div>
                                <label>Phone</label>
                                <input type="text" id="phoneUd" th:field="*{phoneNumber}"/>
<!--                                <p style="color: red" th:errors="*{phoneNumber}"-->
<!--                                   th:if="${#fields.hasErrors('phoneNumber')}"></p>-->
                            </div>
                            <div>
                                <label>Email</label>
                                <input type="text" id="emailUd" th:field="*{email}"/>
<!--                                <p style="color: red" th:errors="*{email}"-->
<!--                                   th:if="${#fields.hasErrors('email')}"></p>-->
                            </div>
                            <div>
                                <label>Address</label>
                                <input type="text" id="addressUd" th:field="*{address}"/>
                            </div>
                            <div>
                                <label>Position</label>
                                <select id="positionUd" class="form-select" th:field="*{position}">
                                    <option th:each="item: ${position}" th:text="${item.name}"
                                            th:value="${item.id}"></option>
                                </select>
                            </div>
                            <div>
                                <label>Education degree</label>
                                <select id="degreeUd" class="form-select" th:field="*{educationDegree}">
                                    <option th:each="item: ${degree}" th:text="${item.name}"
                                            th:value="${item.id}"></option>
                                </select>
                            </div>

                            <div>
                                <label>Division</label>
                                <select id="divisionUd" class="form-select" th:field="*{division}">
                                    <option th:each="item: ${division}" th:text="${item.name}"
                                            th:value="${item.id}"></option>
                                </select>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="mt-2">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link  pages "
                                                     th:href="@{'/employee'(page=${employee.number - 1},search=${search})}"
                                                     th:if="${employee.hasPrevious()}">Previous</a></li>
                            <li class="page-item"><a class="page-link  pages" th:if="${employee.hasPrevious()}"
                                                     th:href="@{'/employee'(page=${employee.number - 1},search=${search})}"
                                                     th:text="${employee.number }"></a>
                            </li>

                            <li class="page-item active">
                                <a class="page-link pages" th:text="${employee.number + 1}"
                                   th:href="@{'/employee'(page=${employee.number},search=${search})}">
                                    <span class="sr-only"></span></a>
                            </li>

                            <li class="page-item"><a class="page-link pages" th:if="${employee.hasNext()}"
                                                     th:href="@{'/employee'(page=${employee.number + 1},search=${search})}"
                                                     th:text="${employee.number + 2}"></a>
                            </li>
                            <li class="page-item"><a class="page-link pages"
                                                     th:href="@{'/employee'(page=${employee.number + 1},search=${search})}"
                                                     th:if="${employee.hasNext()}">Next</a></li>
                        </ul>
                    </nav>

                </div>
                <div class="col-5"></div>
            </div>

        </div>
    </div>
</div>


<script>
    function customerDelete(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }

    function customerEdit(id, nameEmployee, dateOfBirth, idCard, salary, phoneNumber, email, address, position, educationDegree, division) {
        document.getElementById("idUd").value = id;
        document.getElementById("nameUd").value = nameEmployee;
        document.getElementById("dateUd").value = dateOfBirth;
        document.getElementById("idCardUd").value = idCard;
        document.getElementById("salaryUd").value = salary;
        document.getElementById("phoneUd").value = phoneNumber;
        document.getElementById("emailUd").value = email;
        document.getElementById("addressUd").value = address;
        document.getElementById("positionUd").value = position;
        document.getElementById("degreeUd").value = educationDegree;

        document.getElementById("divisionUd").value = division;
    }

</script>


</body>
</html>