<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">


</head>
<body>
<div class="head">
    <h2>ADD NEW FACILITY</h2>
    <p>
        <a th:href="@{/facility}">
            Back to facility list
        </a>
    </p>
</div>
<div class=" d-flex justify-content-center">
    <div class="modal-dialog">
    <form class="mx-5 px-5 pt-3 border border-2 border-success p-3 bg-info rounded "
          th:action="@{/facility/create}" th:object="${facilityDto}"
          method="POST" novalidate="novalidate">
        <div class="modal-content modal-body">
        <div>
            <input type="hidden" th:field="*{id}"/>
        </div>

        <div>
            <label>Facility Type</label>

            <select class="form-select" th:field="*{facilityType}" id="facility_type">
                <option th:each="item: ${facilityType}" th:text="${item.name}" th:value="${item.id}"></option>
            </select>

        </div>

        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
            <p style="color: red" th:errors="*{name}"
               th:if="${#fields.hasErrors('name')}"></p>
        </div>
        <div>
            <label>Area</label>
            <input type="text" th:field="*{area}"/>
            <p style="color: red" th:errors="*{area}"
               th:if="${#fields.hasErrors('area')}"></p>
        </div>
        <div>
            <label>Cost</label>
            <input type="text" th:field="*{cost}"/>
            <p style="color: red" th:errors="*{cost}"
               th:if="${#fields.hasErrors('cost')}"></p>
        </div>
        <div>
            <label>Max People</label>
            <input type="text" th:field="*{maxPeople}"/>
            <p style="color: red" th:errors="*{maxPeople}"
               th:if="${#fields.hasErrors('maxPeople')}"></p>
        </div>

        <div>
            <label>Rent Type</label>
            <p class="option">
                <select class="form-select" th:field="*{rentType}">
                    <option th:each="item: ${rentType}" th:text="${item.name}" th:value="${item.id}"></option>
                </select>
            </p>

        </div>

        <div id="standard">
            <label>Standard Room</label>
            <input type="text"  th:field="*{standardRoom}"/>
            <p style="color: red" th:errors="*{standardRoom}"
               th:if="${#fields.hasErrors('standardRoom')}"></p>
        </div>
        <div id="des">
            <label>Description</label>
            <input type="text"  th:field="*{descriptionOtherConvenience}"/>
            <p style="color: red" th:errors="*{descriptionOtherConvenience}"
               th:if="${#fields.hasErrors('descriptionOtherConvenience')}"></p>
        </div>
        <div id="pool">
            <label>Pool Area</label>
            <input type="text"  th:field="*{poolArea}"/>
            <p style="color: red" th:errors="*{poolArea}"
               th:if="${#fields.hasErrors('poolArea')}"></p>
        </div>
        <div id="floors">
            <label>Floors</label>
            <input type="text"  th:field="*{numberOfFloors}"/>
            <p style="color: red" th:errors="*{numberOfFloors}"
                           th:if="${#fields.hasErrors('numberOfFloors')}"></p>
        </div>
            <div id="free">
            <label>Facility Free</label>
            <input type="text"  th:field="*{facilityFree}"/>
            <p style="color: red" th:errors="*{facilityFree}"
               th:if="${#fields.hasErrors('facilityFree')}"></p>
        </div>


        <input type="submit" value="Save"/>
        </div>

    </form>
    </div>
</div>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script>
    selectType()

    $("#facility_type").change(function () {
        selectType()
    })

    function selectType() {
        let type = document.getElementById("facility_type").value;
        switch (type) {
            case "1":

                $("#standard").show();
                $("#des").show();
                $("#pool").show();
                $("#floors").show();
                $("#free").hide();
                break

            case "2":
                $("#standard").show();
                $("#des").show();
                $("#pool").hide();
                $("#floors").show();
                $("#free").hide();
                break

            case "3":
                $("#standard").hide();
                $("#des").hide();
                $("#pool").hide();
                $("#floors").hide();
                $("#free").show();
                break;

        }
    }

</script>

</body>
<footer th:replace="/layout :: footer"></footer>
</html>