<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View facility</h3>
<p>
    <a th:href="@{/facility}">
        Back to facility list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${facility.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Area:</label>
        <label th:text="${facility.area}"></label>
    </div>
    <div class="cusdetail">
        <label>Cost:</label>
        <label th:text="${facility.cost}"></label>
    </div>
    <div class="cusdetail">
        <label>Max People:</label>
        <label th:text="${facility.maxPeople}"></label>
    </div>
    <div class="cusdetail">
        <label>Facility Type:</label>
        <label th:text="${facility.facilityType.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Rent Type:</label>
        <label th:text="${facility.rentType.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Standard Room:</label>
        <label th:text="${facility.standardRoom}"></label>
    </div>
    <div class="cusdetail">
        <label>Description:</label>
        <label th:text="${facility.descriptionOtherConvenience}"></label>
    </div>
    <div class="cusdetail">
        <label>Pool Area:</label>
        <label th:text="${facility.poolArea}"></label>
    </div>
    <div class="cusdetail">
        <label>Floors:</label>
        <label th:text="${facility.numberOfFloors}"></label>
    </div>
    <div class="cusdetail">
        <label>Facility Free:</label>
        <label th:text="${facility.facilityFree}"></label>
    </div>

</div>

</body>
<footer th:replace="/layout :: footer"></footer>
</html>
